.srd-default-port{
  $p: &;

  display: flex;
  margin-top: 1px;
  margin-top: -10px;
  position: absolute;
  z-index: 1;

  > * {
    align-self: center;
  }

  &__name {
    display: none;
    padding: 0 30px;
  }


  &--out{
    justify-content: flex-end;

    #{$p}__name {
      
      justify-content: flex-end;
      text-align: right;
    }
  }
}
.hide{
  display: none;
}