.srd-port{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(255,107,53);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);

  &:hover,&.selected{
    background: rgb(255,107,53);
  }
}